@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(101, 168, 207);
}

header{
    padding: 0 50px;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.048); 
    display: flex;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 15px;
    transition: 0.5s ease;
}

nav a:hover{
    color: #ffb703;
}

nav a img{
    width: 40px;
    transition: 0.7s;
}

nav a img:hover{
    background-color: rgb(0, 187, 62);
    border-radius: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 70%;
}

.main_container .album {
    width: 100%;
    border-radius: 7px;
}

.main_container .spotify {
    width: 18%;
    opacity: .7;
    margin-top: 30px;
    min-width: 60px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: beige;
    margin-top: 15px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: beige;
    opacity: .7;
    margin-top: -10px;
}
audio{
    width: 40%;
    margin-top: 30px;
}

@media screen and (max-width: 540px){
    nav ul{
        display: none;
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        width: 1.3em;
    }

}