@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(101, 168, 207);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main_container{
    background-color: rgba(3, 3, 3, 0.315);
    border-radius: 10px;
    padding: 20px;
    margin: 100px;
}
.album{
    border-radius: 10px;
    width: 400px;
}
.spotify{
    width: 100px;
    opacity: .7;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: beige;
    margin-top: 20px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: beige;
    opacity: .7;
}
audio{
    margin-bottom: 20px;
}

header{
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.068);  
}
nav{
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

.logo-bar{
    width: 40px;
}
nav a {
    justify-content:center ;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: small;
    background-color: blueviolet;
    border-radius: 20px;
    border-width: 60px;
    border:0;
    text-decoration: none;
    width: 60px;
    margin: 8px;
}
